/*NavBar Section*/

nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    min-width: 10vh;
    align-items: center;
    margin: auto;
}

.navbar-brand {
    padding-right: 5rem;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-links li {
    padding: 1rem;
}

.nav-links, h1 {
  flex: 1;
}

.cursor {
    width: 3rem;
    height: 3rem;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.3s ease;
    transition-property: background,transform;
    transform-origin: 100% 100%;
    z-index: -1;
    backdrop-filter: grayscale();
    
    /*backdrop-filter: blur(3px);*/
}

.link-grow {
    transform: scale(2);
    background: silver;
}

.hovered-link {
    color: white;
}

.first {
    min-height: 100vh;
    /*sets the height to take up 100% of viewport*/
}

.front-cover img {
    position: relative;
    z-index: -3; 
}

.img1 {
    max-width: 400px;

    border-radius: 50%;
}

/*Drag & Drop || NavBar Section*/

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    cursor: none;
}


a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

section {
    text-align: center;
}


/*Features Section*/


#myID {
    min-height: 100vh;
    min-width: 100%;
    position: absolute;

    background-color: white;
    text-align: center;
    z-index: -2;
  }

  #myID2 {
    
      max-width: 400px;
      display: -webkit-inline-box;
      top: 50%;
  }

.img2 {
    position: absolute;
    border-radius: 50%;
    z-index: -2;
    max-width: 400px;
        right: 30%;
        left: 30%;
    top: 10rem;
}

.des {
    position: absolute;
    display: flexbox;
   bottom: -100%;
    max-width: 25%;
   
}

.des1 {
    position: absolute;
    display: flexbox;
    left: 75%;
    max-width: 25%;
}
